name: deploy to pages

on:
    push:
        branches: ["main"]

    workflow_dispatch:

permissions:
    contents: read
    pages: write
    id-token: write

concurrency:
    group: "pages"
    cancel-in-progress: true

jobs:
    deploy:
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - run: ./.tools/build_index.py > index.json
            - uses: actions/upload-pages-artifact@v3
              with:
                  path: "."
            - uses: actions/deploy-pages@v4
